.form-header{
    border-radius: 1rem 1rem 0 0;
    padding: 2vh ;
    background-color: rgb(50, 38, 98);
}
.form-section{
    border-radius: 0 0 1rem 1rem;
    button{
        background-color:rgb(50, 38, 98) ;
    }
}
.section-header{
    background-color: rgb(50, 38, 98);
    border-radius: 1rem 1rem 0 0;
}
.form-layout{
    padding: 2vh ;
    border: 1px solid rgba(120, 115, 115, 0.707);
   
}
.form-layout  h3{
    color:rgb(50, 38, 98) !important;
}